{% comment %}

    Adds metadata to item pages in a description list element.
    Fields are configured via _data/config-metadata.csv 
    
{%- endcomment -%}
{%- assign fields = site.data.config-metadata | where_exp: 'item', 'item.display_name != nil' -%}
<div id="item-metadata">
    <dl>
        <dt class="field">URI:</dt>
        <dd class="field-value">
            <a class="me-3" href="{{ page.objectid | prepend: 'items/' | append: '.html' | absolute_url }}">{{ page.objectid | prepend: 'items/' | append: '.html' | absolute_url }}</a>
        </dd>
        {% for f in fields %}{% if page[f.field] %}
        {% if f.field == "parent_record" %}
        <dt class="field">{{ f.display_name }}:</dt>
        <dd class="field-value">
            <a class="me-1" href="{{ page.parent_record | prepend: 'items/' | append: '.html' | absolute_url }}">{{ page.parent_record | prepend: 'items/' | append: '.html' | absolute_url }}</a>
        </dd>
        {% elsif f.field == "vocabulary" %}
        <dt class="field">{{ f.display_name }}:</dt>
        <dd class="field-value">
            <a class="me-1" href="{% if page.vocabulary_uri contains 'iastate.edu' %}{% assign parts = page.vocabulary_uri | split: '/isulv' %}{{ parts[1] | relative_url }}{% else %}{{ page.vocabulary_uri }}{% endif %}">{{ page.vocabulary | strip }}</a>
        </dd>
        {% elsif f.field == "close_match" %}
        <dt class="field">{{ f.display_name }}:</dt>
        <dd class="field-value">
            {% assign terms = page.close_match | split: ";" %}
            {% assign term_uris = page.close_match_uri | split: ";" %}
            {% for t in terms %}
            {% assign index = forloop.index | minus: 1 %}
            <a class="me-1" href="{{ term_uris[index] }}" target="_blank" rel="noopener">{{ t | strip }}</a>
            {% endfor %}
        </dd>
        {% elsif f.field == "exact_match" %}
        <dt class="field">{{ f.display_name }}:</dt>
        <dd class="field-value">
            {% assign terms = page.exact_match | split: ";" %}
            {% assign term_uris = page.exact_match_uri | split: ";" %}
            {% for t in terms %}
            {% assign index = forloop.index | minus: 1 %}
            <a class="me-1" href="{{ term_uris[index] }}" target="_blank" rel="noopener">{{ t | strip }}</a>
            {% endfor %}
        </dd>
        {% elsif f.field == "related_external" %}
        <dt class="field">{{ f.display_name }}:</dt>
        <dd class="field-value">
            {% assign terms = page.related_external | split: ";" %}
            {% assign term_uris = page.related_external_uri | split: ";" %}
            {% for t in terms %}
            {% assign index = forloop.index | minus: 1 %}
            <a class="me-1" href="{{ term_uris[index] }}" target="_blank" rel="noopener">{{ t | strip }}</a>
            {% endfor %}
        </dd>
        {% elsif f.field == "identifier" %}
        <dt class="field">{{ f.display_name }}:</dt>
        <dd class="field-value">
            {% assign terms = page.identifier | split: ";" %}
            {% assign term_uris = page.identifier_uri | split: ";" %}
            {% for t in terms %}
            {% assign index = forloop.index | minus: 1 %}
            <a class="me-1" href="{{ term_uris[index] }}" target="_blank" rel="noopener">{{ t | strip }}</a>
            {% endfor %}
        </dd>
        {% elsif f.field == "publisher" %}
        <dt class="field">{{ f.display_name }}:</dt>
        <dd class="field-value">
            {% assign terms = page.publisher | split: ";" %}
            {% assign term_uris = page.publisher_uri | split: ";" %}
            {% for t in terms %}
            {% assign index = forloop.index | minus: 1 %}
            <a class="me-1" href="{{ term_uris[index] }}" target="_blank" rel="noopener">{{ t | strip }}</a>
            {% endfor %}
        </dd>
        {% elsif f.field == "broader_term" %}
        <dt class="field">{{ f.display_name }}:</dt>
        <dd class="field-value">
            {% assign terms = page.broader_term | split: ";" %}
            {% assign term_uris = page.broader_term_objectid | split: ";" %}
            {% for t in terms %}
            {% assign index = forloop.index | minus: 1 %}
            <a class="me-1" href="{{ '/items/' | append: term_uris[index] | append: '.html' | absolute_url }}">{{ t | strip }}</a>
            {% endfor %}
        </dd>
        {% elsif f.field == "narrower_term" %}
        <dt class="field">{{ f.display_name }}:</dt>
        <dd class="field-value">
            {% assign terms = page.narrower_term | split: ";" %}
            {% assign term_uris = page.narrower_term_objectid | split: ";" %}
            {% for t in terms %}
            {% assign index = forloop.index | minus: 1 %}
            <a class="me-1" href="{{ '/items/' | append: term_uris[index] | append: '.html' | absolute_url }}">{{ t | strip }}</a>
            {% endfor %}
        </dd>
        {% elsif f.field == "related_term" %}
        <dt class="field">{{ f.display_name }}:</dt>
        <dd class="field-value">
            {% assign terms = page.related_term | split: ";" %}
            {% assign term_uris = page.related_term_objectid | split: ";" %}
            {% for t in terms %}
            {% assign index = forloop.index | minus: 1 %}
            <a class="me-1" href="{{ '/items/' | append: term_uris[index] | append: '.html' | absolute_url }}">{{ t | strip }}</a>
            {% endfor %}
        </dd>
        {% elsif f.field == "absorbed_organization" %}
        <dt class="field">{{ f.display_name }}:</dt>
        <dd class="field-value">
            {% assign terms = page.absorbed_organization | split: ";" %}
            {% assign term_uris = page.absorbed_organization_objectid | split: ";" %}
            {% for t in terms %}
            {% assign index = forloop.index | minus: 1 %}
            <a class="me-1" href="{{ '/items/' | append: term_uris[index] | append: '.html' | absolute_url }}">{{ t | strip }}</a>
            {% endfor %}
        </dd>
        {% elsif f.field == "absorbing_organization" %}
        <dt class="field">{{ f.display_name }}:</dt>
        <dd class="field-value">
            {% assign terms = page.absorbing_organization | split: ";" %}
            {% assign term_uris = page.absorbing_organization_objectid | split: ";" %}
            {% for t in terms %}
            {% assign index = forloop.index | minus: 1 %}
            <a class="me-1" href="{{ '/items/' | append: term_uris[index] | append: '.html' | absolute_url }}">{{ t | strip }}</a>
            {% endfor %}
        </dd>
        {% elsif f.field == "component_of_merger" %}
        <dt class="field">{{ f.display_name }}:</dt>
        <dd class="field-value">
            {% assign terms = page.component_of_merger | split: ";" %}
            {% assign term_uris = page.component_of_merger_objectid | split: ";" %}
            {% for t in terms %}
            {% assign index = forloop.index | minus: 1 %}
            <a class="me-1" href="{{ '/items/' | append: term_uris[index] | append: '.html' | absolute_url }}">{{ t | strip }}</a>
            {% endfor %}
        </dd>
        {% elsif f.field == "mergee" %}
        <dt class="field">{{ f.display_name }}:</dt>
        <dd class="field-value">
            {% assign terms = page.mergee | split: ";" %}
            {% assign term_uris = page.mergee_objectid | split: ";" %}
            {% for t in terms %}
            {% assign index = forloop.index | minus: 1 %}
            <a class="me-1" href="{{ '/items/' | append: term_uris[index] | append: '.html' | absolute_url }}">{{ t | strip }}</a>
            {% endfor %}
        </dd>
        {% elsif f.field == "predecessor" %}
        <dt class="field">{{ f.display_name }}:</dt>
        <dd class="field-value">
            {% assign terms = page.predecessor | split: ";" %}
            {% assign term_uris = page.predecessor_objectid | split: ";" %}
            {% for t in terms %}
            {% assign index = forloop.index | minus: 1 %}
            <a class="me-1" href="{{ '/items/' | append: term_uris[index] | append: '.html' | absolute_url }}">{{ t | strip }}</a>
            {% endfor %}
        </dd>
        {% elsif f.field == "predecessor_of_split" %}
        <dt class="field">{{ f.display_name }}:</dt>
        <dd class="field-value">
            {% assign terms = page.predecessor_of_split | split: ";" %}
            {% assign term_uris = page.predecessor_of_split_objectid | split: ";" %}
            {% for t in terms %}
            {% assign index = forloop.index | minus: 1 %}
            <a class="me-1" href="{{ '/items/' | append: term_uris[index] | append: '.html' | absolute_url }}">{{ t | strip }}</a>
            {% endfor %}
        </dd>
        {% elsif f.field == "product_of_merger" %}
        <dt class="field">{{ f.display_name }}:</dt>
        <dd class="field-value">
            {% assign terms = page.product_of_merger | split: ";" %}
            {% assign term_uris = page.product_of_merger_objectid | split: ";" %}
            {% for t in terms %}
            {% assign index = forloop.index | minus: 1 %}
            <a class="me-1" href="{{ '/items/' | append: term_uris[index] | append: '.html' | absolute_url }}">{{ t | strip }}</a>
            {% endfor %}
        </dd>
        {% elsif f.field == "product_of_split" %}
        <dt class="field">{{ f.display_name }}:</dt>
        <dd class="field-value">
            {% assign terms = page.product_of_split | split: ";" %}
            {% assign term_uris = page.product_of_split_objectid | split: ";" %}
            {% for t in terms %}
            {% assign index = forloop.index | minus: 1 %}
            <a class="me-1" href="{{ '/items/' | append: term_uris[index] | append: '.html' | absolute_url }}">{{ t | strip }}</a>
            {% endfor %}
        </dd>
        {% elsif f.field == "successor" %}
        <dt class="field">{{ f.display_name }}:</dt>
        <dd class="field-value">
            {% assign terms = page.successor | split: ";" %}
            {% assign term_uris = page.successor_objectid | split: ";" %}
            {% for t in terms %}
            {% assign index = forloop.index | minus: 1 %}
            <a class="me-1" href="{{ '/items/' | append: term_uris[index] | append: '.html' | absolute_url }}">{{ t | strip }}</a>
            {% endfor %}
        </dd>
        {% else %}
        <dt class="field">{{ f.display_name }}:</dt>
        <dd class="field-value">
            {% if f.browse_link == "true" %}
            {% assign topics = page[f.field] | split: ";" %}
            {% for t in topics %}
            <a class="me-3" href="{{ t | strip | url_param_escape | prepend: '/browse.html#' | relative_url }}">{{ t | strip }}</a>
            {% endfor %}
            {% elsif f.external_link == "true" %}
            <a href="{{ page[f.field] }}" target="_blank" rel="noopener">{{ page[f.field] }}</a>
            {% else %}
            {{ page[f.field] | replace: '""','"' }}{% endif %}
        </dd>
        {% endif %}{% endif %}{% endfor %}
    </dl>
</div>