---
# base layout for other item display_template layouts
# adds breadcrumbs and title at top; citation box, rights box, and browse buttons at bottom
layout: default
# item-meta adds rich meta markup to the page on production build
item-meta: true
---
{%- assign children = site.data[site.metadata] | where_exp: 'item','item.parent_record == page.objectid' -%}
<div class="container py-3">

    {% include item/breadcrumbs.html %}
    <div class="my-0 h5 small">{{ page.display_template | replace: "_", " " | upcase }} {% if page.display_template == "compound_object" or page.display_template == "multiple" %}{% assign children = site.data[site.metadata] | where_exp: 'item','item.parentid == page.objectid' %} ({{ children | size }} Items){% endif %}</div>
    <h2 class="mb-3">{{ page.title }} 
        {% unless page.display_template == 'record' %}<a href="#metadata" class="ms-5 btn btn-sm btn-outline-dark small">Item Info 
            <svg class="bi icon-sprite" role="img" aria-label="Jump to Item Info">
                <use xlink:href="{{ '/assets/lib/cb-icons.svg' | relative_url }}#arrow-down"/>
            </svg>
        </a>{% endunless %}
    </h2>

    <div class="row justify-content-center pb-4 gx-5">
        <div class="col-12 col-md-10">

        {{ content }}

        </div>

        {% if children and children.size > 0 %}
        <div class="col-12 col-md-6" id="metadata">

            {% include item/metadata.html %}

        </div>
        <div class="col-12 col-md-6">

            <h3>Child values:</h3>
           <ul>
                {% for c in children %}
                <li><a class="me-3" href="{{ c.objectid | prepend: 'items/' | append: '.html' | absolute_url }}">{{ c.title }}</a></li>
                {% endfor %}
            </ul>

        </div>
        {% else %}
        <div class="col-12 col-md-10" id="metadata">

            {% include item/metadata.html %}

        </div>
        {% endif %}

    </div>

    {%- if site.data.theme.browse-buttons == true -%}
        {% include item/browse-buttons.html %}
    {%- endif -%}
</div>