---
# collection "Browse" page
layout: page
custom-foot: js/browse-js.html
---

{{ content }}

<div class="row mb-3 justify-content-center">
    <div class="col-md-8 text-center">
        <form role="search" id="lunrSearch" onsubmit="submitFilter(); return false;">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" id="filterTextBox" placeholder="Filter ... " aria-label="Search"> 
                <button class="btn btn-success" type="submit" title="Filter items" id="filterButton" >Search</button>
                <button class="btn btn-outline-secondary filter" onclick="resetFilter(); return false;" data-filter="">Reset</button>
            </div>
        </form>
        <div class="h2" id="numberOf"></div>
    </div>
    <div class="col-md-2">
        <div class="dropdown">
            <button class="btn btn-secondary-grey-dark mt-1 dropdown-toggle" type="button" id="browseSortButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by <span class="font-weight-bold" id="sortFilter">Random</span>
            </button>
            <div class="dropdown-menu browse-sort-menu" aria-labelledby="browseSortButton">
                <button class="dropdown-item browse-sort-item active" data-filter="random">Random</button>
                <button class="dropdown-item browse-sort-item" data-filter="title">Title</button>
                {% assign sort_options = site.data.config-browse | where_exp: 'i','i.sort_name != nil' %}
                {% for o in sort_options %}
                <button class="dropdown-item browse-sort-item" data-filter="{{ o.field | escape }}">{{ o.sort_name }}</button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div id="loadingIcon" class="text-center">
    <div class="spinner-border text-dark" role="status"><span class="visually-hidden">Loading...</span></div>
</div>

<div class="row">
    <div class="d-none d-md-block col-md-3">
    <div class="accordion" id="vocabAccordion">
        <div class="accordion-item">
        <h2 class="accordion-header" id="subjectArea">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Subject Area
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="subjectArea" data-bs-parent="#vocabAccordion">
            <div class="accordion-body">
            {% assign unique_subjects = site.data[site.metadata] | map: "subject_area" | compact | uniq %}
            {% for s in unique_subjects %}
                <a href="#{{ s }}" class="btn btn-outline-dark btn-sm m-1">{{ s }}</a>
            {% endfor %}
            </div>
        </div>
        </div>
        <div class="accordion-item">
        <h2 class="accordion-header" id="Vocabulary">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Vocabulary
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="Vocabulary" data-bs-parent="#vocabAccordion">
            <div class="accordion-body">
            {% assign unique_vocabs = site.data[site.metadata] | map: "vocabulary" | compact | uniq %}
            {% for v in unique_vocabs %}
                <a href="#{{ v }}" class="btn btn-outline-dark btn-sm m-1">{{ v }}</a>
            {% endfor %}
            </div>
        </div>
        </div>
        <div class="accordion-item">
        <h2 class="accordion-header" id="Publisher">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Publisher
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="Publisher" data-bs-parent="#vocabAccordion">
            <div class="accordion-body">
                {% assign unique_publisher = site.data[site.metadata] | map: "publisher" | compact | uniq %}
                {% for p in unique_publisher %}
                    <a href="#{{ p }}" class="btn btn-outline-dark btn-sm m-1">{{ p }}</a>
                {% endfor %}
            </div>
        </div>
        </div>
        <div class="accordion-item">
        <h2 class="accordion-header" id="Type">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Type
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="Type" data-bs-parent="#vocabAccordion">
            <div class="accordion-body">
                {% assign unique_type = site.data[site.metadata] | map: "display_template" | compact | uniq %}
                {% for t in unique_type %}
                    <a href="#{{ t }}" class="btn btn-outline-dark btn-sm m-1">{{ t }}</a>
                {% endfor %}
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="col-12 col-md-9 ps-md-5">
        <div class="row" id="browseItems"></div>
    </div>
</div>
