---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<div class="row">

  <div class="col-md-12">

    {% include index/description.html %}
    
  </div>
  <div class="col-md-4">  

    {% include index/featured-terms.html field="subject_area" title="Subjects" btn-color="outline-secondary-red-dark" %}

  </div>
  <div class="col-md-4">  

    {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-secondary-blue-dark" %}

  </div>
  <div class="col-md-4">  
    
    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}
    
  </div>

</div>